/* About Me style start */
.about--section {
    padding: 133.333px 85.333px 133.333px;
    align-items: center;
    gap: 114.6px;
    grid-template-columns: repeat(2, 1fr);
    cursor: default;
    background: var(--bg-shade);
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.3);
  }

.about--section--image{
    display: flex;
    background: var(--bg-shade);
    border-radius: 30px;
    border-top-left-radius: 0px;
}
.about--section--image > img{
    width: 100vh;
    height: 60vh;
    object-fit: contain;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    border-top-left-radius: 0px;
}

.html {
  color: var(--html);
}

.css {
  color: var(--css);
}

.javascript {
  color: var(--js);
}

.react {
  color: var(--react);
}

.chatgpt {
  color: var(--chatgpt);
  font-style: bold;
  font-weight: 700;
}

.nodejs {
  color: var(--nodejs);
}

.npm {
  color: var(--npm);
}

.github {
    color: var(--github);
    font-style: bold;
    font-weight: 700;
}

.hero--section--description-boutme svg {
  font-size: 1.2em;
  stroke-width: black 2px;
  padding-left: .5%;
}

.hero--section--description-boutme svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.hero--section--description-boutme > ul{
    list-style: none;
    text-decoration: none;
    padding: 1px;
}

.hero--section--description-boutme > ul > li> p{
    text-decoration: none;
    cursor: default;
    filter: 
    drop-shadow(-.5px -.5px 0px black) 
    drop-shadow(1px -.5px 0px black) 
    drop-shadow(1px 1px 0px black)
    drop-shadow(-.5px 1px 0px black);
    background: none;
    font-size: 1.3rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.hero--section--description-boutme > ul > li{
  padding: 0;
}
/* About Me style end */