/* About Me style start */
.about--section {
    display: grid;
    padding: 133.3px 85.3px;
    align-items: center;
    gap: 114.6px;
    grid-template-columns: repeat(2, 1fr);
  }

.about--section--image{
    display: flex;
    background: var(--bg-shade);
    border-radius: 30px;
    border-top-left-radius: 0px;
}
.about--section--image > img{
    width: 100vh;
    height: 60vh;
    object-fit: contain;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    border-top-left-radius: 0px;
}
/* About Me style end */