:root{
    --primary: #DF2935;
    --heading: #080708;
    --bg-shade: #E6E8E6;
    --bg-shade-darker: rgba(0, 0, 0, 0.5);
    --github: #000000;
    --darkblue: #000000;
    --black: #080708;
    --white: #E6E8E6;
    --html: #E34F26;
    --css:#1572B6;
    --js: #F7DF1E;
    --react: #61DAFB;
    --chatgpt: #10A37F;
    --nodejs: #339933;
    --npm: #CB3837;
  }