/* Hero Section Style */
.hero--section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133.333px 85.333px 133.333px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--bg-shade);
<<<<<<< HEAD
=======
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.3);
>>>>>>> d1c438f (New logo, about me edit)
  }
  
  .hero--section--content--box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .hero--section--content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.333px;
  }
  
  .hero--section--content > button{
    margin-top: 21.333px;
  
  }
  
  .hero--section--title{
    color: var(--heading);
    font-size: 74.667px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch;
  }
  
  .hero--section--title--color{
    color: var(--primary);
  }
  .hero--section--title--description{
    color: var(--darkblue);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }
  
  .hero--section--img{
    display: flex;

  }
  .hero--section--img > img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-source: linear-gradient(to left, var(--black), var(--primary));
  }
  /* Hero Section Style End */